<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colrolib Templates">
    <meta name="author" content="Colrolib">
    <meta name="keywords" content="Colrolib Templates">

    <!-- Title Page-->
    <title>Gnarly Climber</title>

    <!-- Icons font CSS-->
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="static/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-color-1 p-t-165 p-b-100">
        <div class="wrapper wrapper--w680">
            <div class="card card-2">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">boulder</a>
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab2" data-toggle="tab">trad, top rope</a>
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab3" data-toggle="tab">alpine</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <form method="GET" action="/routes/">
                                <div class="input-group">
                                    <label class="label">where:</label>
                                    <input class="input--style-1" type="text" name="location" placeholder="City name or coordinates (e.g. 42, -83.7)" required="required">
                                </div>
                                <div class="input-group">
                                    <label class="label">Distance:</label>
                                    <input class="input--style-1" type="text" name="maxDistanceMiles" placeholder="Maximum distance (miles)">
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Min Difficulty:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="minDifficulty">
                                                    <option selected="selected">V0</option>
                                                    <option>V1</option>
                                                    <option>V2</option>
                                                    <option>V3</option>
                                                    <option>V4</option>
                                                    <option>V5</option>
                                                    <option>V6</option>
                                                    <option>V7</option>
                                                    <option>V8</option>
                                                    <option>V9</option>
                                                    <option>V10</option>
                                                    <option>V11</option>
                                                    <option>V12</option>
                                                    <option>V13</option>
                                                    <option>V14</option>
                                                    <option>V15</option>
                                                    <option>V16</option>
                                                    <option>V17</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Max Difficulty:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="maxDifficulty">
                                                    <option>V0</option>
                                                    <option>V1</option>
                                                    <option>V2</option>
                                                    <option>V3</option>
                                                    <option>V4</option>
                                                    <option>V5</option>
                                                    <option>V6</option>
                                                    <option>V7</option>
                                                    <option>V8</option>
                                                    <option>V9</option>
                                                    <option>V10</option>
                                                    <option>V11</option>
                                                    <option>V12</option>
                                                    <option>V13</option>
                                                    <option>V14</option>
                                                    <option>V15</option>
                                                    <option>V16</option>
                                                    <option selected="selected">V17</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-submit" type="submit">search tallest routes</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <form method="POST" action="#">
                                <div class="input-group">
                                    <label class="label">where:</label>
                                    <input class="input--style-1" type="text" name="location" placeholder="City name or coordinates (e.g. 42, -83.7)" required="required">
                                </div>
                                <div class="input-group">
                                    <label class="label">Distance:</label>
                                    <input class="input--style-1" type="text" name="maxDist" placeholder="Maximum distance (miles)">
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Min Difficulty:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="minDifficulty">
                                                    <option>3rd</option>
                                                    <option>4th</option>
                                                    <option selected="selected">5.0</option>
                                                    <option>5.1</option>
                                                    <option>5.2</option>
                                                    <option>5.3</option>
                                                    <option>5.4</option>
                                                    <option>5.5</option>
                                                    <option>5.6</option>
                                                    <option>5.7</option>
                                                    <option>5.8</option>
                                                    <option>5.9</option>
                                                    <option>5.10a</option>
                                                    <option>5.10b</option>
                                                    <option>5.10c</option>
                                                    <option>5.10d</option>
                                                    <option>5.11a</option>
                                                    <option>5.11b</option>
                                                    <option>5.11c</option>
                                                    <option>5.11d</option>
                                                    <option>5.12a</option>
                                                    <option>5.12b</option>
                                                    <option>5.12c</option>
                                                    <option>5.12d</option>
                                                    <option>5.13a</option>
                                                    <option>5.13b</option>
                                                    <option>5.13c</option>
                                                    <option>5.13d</option>
                                                    <option>5.14a</option>
                                                    <option>5.14b</option>
                                                    <option>5.14c</option>
                                                    <option>5.14d</option>
                                                    <option>5.15a</option>
                                                    <option>5.15b</option>
                                                    <option>5.15c</option>
                                                    <option>5.15d</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Max Difficulty:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="maxDifficulty">
                                                    <option>3rd</option>
                                                    <option>4th</option>
                                                    <option>5.0</option>
                                                    <option>5.1</option>
                                                    <option>5.2</option>
                                                    <option>5.3</option>
                                                    <option>5.4</option>
                                                    <option>5.5</option>
                                                    <option>5.6</option>
                                                    <option>5.7</option>
                                                    <option>5.8</option>
                                                    <option>5.9</option>
                                                    <option>5.10a</option>
                                                    <option>5.10b</option>
                                                    <option>5.10c</option>
                                                    <option>5.10d</option>
                                                    <option>5.11a</option>
                                                    <option>5.11b</option>
                                                    <option>5.11c</option>
                                                    <option>5.11d</option>
                                                    <option>5.12a</option>
                                                    <option>5.12b</option>
                                                    <option>5.12c</option>
                                                    <option>5.12d</option>
                                                    <option>5.13a</option>
                                                    <option>5.13b</option>
                                                    <option>5.13c</option>
                                                    <option>5.13d</option>
                                                    <option>5.14a</option>
                                                    <option>5.14b</option>
                                                    <option>5.14c</option>
                                                    <option>5.14d</option>
                                                    <option>5.15a</option>
                                                    <option>5.15b</option>
                                                    <option>5.15c</option>
                                                    <option selected="selected">5.15d</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-submit" type="submit">search tallest routes</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <form method="POST" action="#">
                                <div class="input-group">
                                    <label class="label">where:</label>
                                    <input class="input--style-1" type="text" name="location" placeholder="City name or coordinates (e.g. 42, -83.7)" required="required">
                                </div>
                                <div class="input-group">
                                    <label class="label">Distance:</label>
                                    <input class="input--style-1" type="text" name="maxDist" placeholder="Maximum distance (miles)">
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Min Difficulty:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="minDifficulty">
                                                    <option selected="selected">V0</option>
                                                    <option>V1</option>
                                                    <option>V2</option>
                                                    <option>V3</option>
                                                    <option>V4</option>
                                                    <option>V5</option>
                                                    <option>V6</option>
                                                    <option>V7</option>
                                                    <option>V8</option>
                                                    <option>V9</option>
                                                    <option>V10</option>
                                                    <option>V11</option>
                                                    <option>V12</option>
                                                    <option>V13</option>
                                                    <option>V14</option>
                                                    <option>V15</option>
                                                    <option>V16</option>
                                                    <option>V17</option>
                                                    <option>V18</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Max Difficulty:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="maxDifficulty">
                                                    <option>V0</option>
                                                    <option>V1</option>
                                                    <option>V2</option>
                                                    <option>V3</option>
                                                    <option>V4</option>
                                                    <option>V5</option>
                                                    <option>V6</option>
                                                    <option>V7</option>
                                                    <option>V8</option>
                                                    <option>V9</option>
                                                    <option>V10</option>
                                                    <option>V11</option>
                                                    <option>V12</option>
                                                    <option>V13</option>
                                                    <option>V14</option>
                                                    <option>V15</option>
                                                    <option>V16</option>
                                                    <option>V17</option>
                                                    <option selected="selected">V18</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-submit" type="submit">search tallest routes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="static/vendor/select2/select2.min.js"></script>
    <script src="static/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="static/vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="static/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="static/vendor/datepicker/moment.min.js"></script>
    <script src="static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="static/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
